html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

img {
  float: center;
  width:  500px;
  height: 300px;
}

p {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate( -50%, -50% );
  text-align: center;
  color: white;
  background-color: black;
  padding-left: 20px;
  padding-right: 20px;
}

.controls {
  position: relative;
  text-align: center;
}

body {
  background: #f3f3f3;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  -webkit-text-size-adjust: none;
}

.center {
  text-align: center;
}

.carousel {
  margin-top: 100px;
}

.carousel .item {
  position: relative;
  display: inline-block;
  font-weight: bold;
  color: navy;
  font-size: 20px;
  text-align: center;
  box-shadow: 0 1px #ebebeb;
  border-radius: 5px;
}
